.expenses {
  width: 100%;
  margin-top: 34px;
  font-family: $basic-font-title;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    grid-column: 3 / -1;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    grid-column: 1 / -1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 75px;
  }
}

.expenses__text {
  padding: 0;
  padding-right: 5px;
  margin: 0;

  @media (min-width: $desktop-width) {
    padding-right: 63px;
  }
}

.expenses__price {
  padding: 0;
  margin: 0;
}
