.slider {
  margin-top: 42px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-bottom: 58px;
    background: $plaster;
    background-size: 50% auto;
  }
}

.slider__visual {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -190px;
    justify-content: flex-start;
    margin-left: 0;
  }
}

.slider__image--hidden {
  display: none;
}

.slider__image {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 708px;
    height: 520px;
    margin-top: -172px;
  }

  @media (min-width: $desktop-width) {
    width: 708px;
    height: 520px;
    margin: 0;
    margin-top: 0;
  }
}

.slider__image--before {
  @media (min-width: $tablet-width) {
    width: 674px;
  }

  @media (min-width: $desktop-width) {
    width: 677px;
  }
}

.slider__image--after {
  @media (min-width: $tablet-width) {
    margin-left: 40px;
    width: 602px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 93px;
    width: 545px;
  }
}
