.slider {
  margin-top: 42px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-bottom: 58px;
    background: $plaster;
    background-size: 50% auto;

    //
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 58px;
  }
}

.slider__visual {
  // display: flex;
  // justify-content: center;
  height: 244px;
  margin: 0 auto;
  width: 320px;

  //

  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 708px;

    height: auto;
    height: 350px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin-left: 0;
    height: 334px;
  }
}

@media (max-width: $mobile-width-only) {
  .slider__image--hidden {
    display: none;
  }
}

// .slider__image--hidden {
//   display: none;
// }

//

.slider__compare {
  position: absolute;
  overflow: hidden;
  top: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    overflow: hidden;
    margin-top: -172px;
    top: 0;

    width: auto;
    height: auto;

    background-repeat: no-repeat;
    background-image: linear-gradient(to right, $white, $white), linear-gradient(to right, $plaster, $plaster);
    background-position: 0 0, 0 172px;
    background-size: 100% 172px, 100% auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: -192px;
    background-position: 0 0, 0 192px;
    background-size: 100% 192px, 100% auto;
  }
}

.slider__compare--bottom {
  @media (min-width: $tablet-width) {
    padding-left: 15px;
    z-index: 2;

    width: 334px; // макс 677px наложение слайдера
  }

  @media (min-width: $desktop-width) {
    padding-left: 3px;
  }
}

.slider__compare--top {
  margin-left: 50px;

  @media (min-width: $tablet-width) {
    margin-left: 106px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-left: 94px;
  }
}

.slider__image {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    // width: 708px;
    height: 520px;
  }

  @media (min-width: $desktop-width) {
    // width: 708px;
    height: 520px;
    margin: 0;
    margin-top: 0;
  }
}

.slider__image--before {
  @media (min-width: $tablet-width) {
    width: 677px;
  }

  @media (min-width: $desktop-width) {
    width: 677px;
  }
}

.slider__image--after {
  @media (min-width: $tablet-width) {
    width: 545px;
  }

  @media (min-width: $desktop-width) {
  }
}
