.additions {
  background-color: $white;

  @media (min-width: $desktop-width) {
    padding-bottom: 86px;
  }
}

.additions__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid #68b738;
}

.additions__title {
  margin: 0;
  padding: 25px 20px 34px 20px;
  color: $black;
  font-family: $basic-font-title;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 68px 30px 80px 30px;
    margin: 0 0 0 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 40px 80px 40px;
    margin-left: calc((100% - 1220px) / 2 - 40px);
  }
}

.additions__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.additions__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 30px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    border: none;
    margin: 0;
    padding: 0;
    width: 895px;
    margin-right: 80px;
    margin-left: calc((100% - 1220px) / 2);
  }
}
