.advantages__title {
  margin-top: 27px;
  margin-bottom: 38px;
  font-family: $basic-font-title;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0 0 42px 0;
  display: grid;
  grid-row-gap: 20px;
  counter-reset: myCounter;

  @media (min-width: $tablet-width) {
    margin: 0 0 40px 0;
    justify-content: space-between;
    grid-gap: 60px;
    row-gap: 37px;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    margin: 0;
  }
}

.advantages__item {
  display: flex;
  align-items: flex-start;
  list-style: none;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    height: 280px;
  }

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $starbur;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 60px;
    flex-shrink: 0;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      flex-basis: 80px;
      margin-top: 34px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      counter-increment: myCounter;
      content: counter(myCounter);
      color: $bleached-silk;
      position: absolute;
      font-family: $basic-font-title;
      top: -5px;
      left: 110px;
      display: inline-block;
      text-align: center;
      font-size: 280px;
      line-height: 280px;
      z-index: -1;
    }
  }
}

.advantages__desc {
  min-width: 200px;
  margin: auto 0;
  margin-left: 20px;
  font-family: $basic-font-text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $goshawk-grey;

  @media (min-width: $tablet-width) {
    margin: 31px 100px 0 0;
    min-width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__item--leaf {
  &::before {
    content: url("../../source/img/advantages/icon_leaf.svg");
  }
}

.advantages__item--water {
  &::before {
    content: url("../../source/img/advantages/icon_tub.svg");
  }
}

.advantages__item--fork {
  &::before {
    content: url("../../source/img/advantages/icon_eat.svg");
  }
}

.advantages__item--weight {
  &::before {
    content: url("../../source/img/advantages/icon_alarm.svg");
  }
}
