.assortment {
  padding: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    background-color: $white;
    border: 2px solid #f2f2f2;
    box-sizing: border-box;
  }
}

.assortment__title {
  color: $dreamless-sleep;
  width: 100%;
  text-align: center;
  grid-area: 2 / 1 / 3 / 3;

  @media (min-width: $tablet-width) {
    margin: 0 auto 23px auto;
    padding: 0;
  }
}

.assortment__icons {
  padding-top: 24px;
  padding-bottom: 24px;
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 49px;
    order: -1;
  }
}

.assortment__icon {
  width: 30px;
  height: 30px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    order: -1;
  }
}

.assortment__info {
  grid-area: 3 / 1 / 4 / 3;
  justify-content: center;
  margin-bottom: 21px;
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    line-height: 18px;
    width: 167px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto auto;
  }
}

.assortment__button {
  grid-area: 4 / 1 / 5 / 3;
  color: $goshawk-grey;
  background-color: $bleached-silk;

  &:hover {
    background-color: $mercury;
  }

  &:focus {
    background-color: $mercury;
    color: $goshawk-grey-030;
  }
}
