.catalog__title {
  border-top: 1px solid $mercury;
  margin: 0;
  padding: 27px 0 41px 0;
  font-family: $basic-font-title;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;

  @media (min-width: $tablet-width) {
    padding-bottom: 163px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-between;

    row-gap: 144px;
  }
}

.product-card {
  padding: 19px 0 25px 0;
  border-top: 1px solid $mercury;
  border-bottom: 1px solid $mercury;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    " pic title "
    " pic info "
    " button button ";

  @media (min-width: $tablet-width) {
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    padding: 0;
    margin: 0;
    background: $bleached-silk;
  }
}

.product-card__title {
  margin: 0;
  padding: 0;

  font-family: $basic-font-title;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $goshawk-grey;
  grid-area: title;
  width: 80px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    margin: 0 auto;
    padding-top: 34px;
    padding-bottom: 21px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product-card__images {
  grid-area: pic;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
    order: -1;

    margin-top: -30px;
  }
}

.product-card__info {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  margin-top: 18px;

  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  grid-area: info;

  @media (min-width: $tablet-width) {
    margin: 0 37px;

    font-size: 16px;
    line-height: 16px;
  }
}

.product-card__parameter {
  width: 33%;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 7px 0 9px 0;
    border-bottom: 1px solid $compact-disc-grey;
  }
}

.product-card__meaning {
  margin-left: auto;
  width: 66%;
  text-align: right;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 7px 0 9px 0;
    border-bottom: 1px solid $compact-disc-grey;
  }
}

.product-card__button {
  grid-area: button;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 33px 38px 39px 33px;
  }
}

.assortment {
  @media (min-width: $tablet-width) {
    background-color: $white;
    border: 2px solid #f2f2f2;
    box-sizing: border-box;
  }
}

.assortment__title {
  color: $dreamless-sleep;
  width: 100%;
  text-align: center;
  grid-area: 2 / 1 / 3 / 3;

  @media (min-width: $tablet-width) {
    margin: 161px auto 23px auto;
    padding: 0;
  }
}

.assortment__icon {
  grid-area: 1 / 1 / 2 / 3;

  @media (min-width: $tablet-width) {
    order: -1;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    right: 0;

    &::before {
      content: "";
      position: absolute;
      width: 60px;
      border: 2px solid #d3d3d3;
      transform: rotate(90deg);
      top: calc(30px + 52px);
      left: calc(50% - 30px);
    }

    &::after {
      content: "";
      position: absolute;
      width: 60px;
      border: 2px solid #d3d3d3;
      top: calc(30px + 52px);
      left: calc(50% - 30px);
    }
  }
}

.assortment__info {
  grid-area: 3 / 1 / 4 / 3;
  justify-content: center;

  @media (min-width: $tablet-width) {
    line-height: 18px;
    width: 167px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto auto;
  }
}

.assortment__button {
  grid-area: 4 / 1 / 5 / 3;
  color: $goshawk-grey;
  background-color: $bleached-silk;

  &:hover {
    background-color: $mercury;
  }

  &:focus {
    background-color: $mercury;
    color: $goshawk-grey-030;
  }
}

.addition {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 80% 20%;
    padding-bottom: 86px;
  }
}

.addition__title {
  margin: 0;
  padding: 25px 0 36px 0;
  color: $black;
  font-family: $basic-font-title;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 68px 0 80px 0;
    margin: 0 0 0 38px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 1 / 2 / 3;
  }
}

.addition__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.addition-item {
  padding: 13px 0 19px 0;
  border-top: 1px solid $mercury;
  border-bottom: 1px solid $mercury;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0;
  }
}

.addition-item__title {
  margin: 0;
  color: $black-out;
  font-family: $basic-font-title;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 38px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 1 / 2 / 2;
    padding: 26px 0;
  }
}

.addition-item__info {
  margin: 0;
  padding: 13px 0 15px 0;
  font-family: $basic-font-text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    justify-content: flex-end;
    margin: 0 38px 0 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 2 / 2 / 3;
    justify-content: space-between;
  }
}

.addition-item__button {
  @media (min-width: $tablet-width) {
    grid-area: 2 / 1 / 3 / 3;
    margin: 0 38px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 3 / 2 / 4;
  }
}

.gift {
  min-width: 280px;
  min-height: 289px;
  background-image: url("../../source/img/catalog/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;

  @media (min-width: $tablet-width) {
    background-image: url("../../source/img/catalog/gift-photo-tablet.jpg");
    min-height: 200px;
    position: relative;
    justify-content: flex-end;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    min-width: 20%;
    background-image: url("../../source/img/catalog/gift-photo-desktop.jpg");
  }
}

.gift__info {
  padding: 0;
  margin: auto auto auto auto;
  width: 161px;
  font-family: $basic-font-text;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  display: grid;

  &::before {
    content: url("../../source/img/icons/icon_gift.svg");
    margin-bottom: 48px;
    width: 78px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $tablet-width) {
      position: absolute;
      width: 80px;
      height: 82px;
      padding: 0;
      margin: 0;
      top: calc(50% - 41px);
      left: 78px;
    }

    @media (min-width: $desktop-width) {
      top: 56px;
      left: calc(50% - 40px);
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    text-align: left;
    margin-right: 124px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 43px auto;
    padding: 0;
    align-self: flex-end;
    text-align: center;
  }
}
