.catalog__title {
  border-top: 1px solid $mercury;
  margin: 0;
  padding: 27px 0 41px 0;
  font-family: $basic-font-title;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;

  @media (min-width: $tablet-width) {
    padding-bottom: 163px;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-between;

    row-gap: 144px;
  }
}
