.contacts {
  background-color: $white;
  padding-top: 28px;
  padding-bottom: 26px;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
  }
}

.contacts__title {
  margin: 0;
  font-family: $basic-font-title;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dreamless-sleep;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
    width: 170px;
    padding-left: 41px;
  }
}

.contacts__address {
  margin: 0;
  padding: 0;
  font-family: $basic-font-text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $goshawk-grey;
  width: 140px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 170px;
    padding-right: 41px;
    text-align: right;
  }

  .contacts__address--city {
    @media (min-width: $tablet-width) {
      display: block;
      padding-top: 18px;
    }
    @media (min-width: $desktop-width) {
      display: block;
      padding-top: 18px;
    }
  }
}

@media (min-width: $tablet-width) {
}

@media (min-width: $desktop-width) {
}
