.contacts {
}
.contacts__container {
}

.contacts__title {
  font-family: $basic-font-title;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $dreamless-sleep;
}
.contacts__address {
  font-family: $basic-font-text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $goshawk-grey;
}
.contacts__address--street {
}
.contacts__address--city {
}
.contacts__map {
}
