.copyright {
  font-family: $basic-font-text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding-top: 23px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    justify-content: flex-end;
  }
}

.copyright__link {
  text-decoration: none;
  color: $goshawk-grey;

  &:hover {
    color: $starbur;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    &:first-of-type {
      margin-right: 22px;
    }
  }
}

.copyright__icon {
  &:hover {
    path {
      fill: $starbur;
    }
  }
}
