.footer {
  background: $bleached-silk;
}

.footer__container {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 55px;
    padding-bottom: 61px;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 35px;
  margin-bottom: 31px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    justify-content: flex-start;
  }
}
