.footer {
  background: $bleached-silk;
}

.footer__container {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 55px;
    padding-bottom: 61px;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 39px;
  margin-bottom: 32px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    justify-content: flex-start;
  }
}

.socials {
  border-top: 1px solid $orochimaru;
  border-bottom: 1px solid $orochimaru;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.socials__list {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 36px;

  &:last-of-type {
    margin-right: 0;
  }
}

.socials__link {
  line-height: 0;
}

.copyright {
  font-family: $basic-font-text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    justify-content: flex-end;
  }
}

.copyright__link {
  text-decoration: none;
  color: $goshawk-grey;

  @media (min-width: $tablet-width) {
    &:first-of-type {
      margin-right: 22px;
    }
  }
}

@media (min-width: $desktop-width) {
}
