.form-page {
  font-family: $basic-font-title;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $black;
  text-transform: uppercase;
}

.form-page__title {
  padding: 0;
  margin: 0;
  padding-top: 27px;
  border-top: 1px solid $orochimaru;
  font-family: $basic-font-title;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}

.form-page__subtitle {
  padding: 0;
  margin: 0;
  margin-top: 37px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.form-page__form {
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

.form-group {
  padding: 0;
  margin: 0;
  border: none;
}

.form__group--info {
  padding-bottom: 24px;
}

.form-group__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-group__item {
  margin: 14px 0;

  &:last-of-type {
    margin: 0;
  }

  &:first-of-type {
    margin: 0;
  }
}

.form-group__label {
  color: $goshawk-grey;
}

.form-group__input {
  padding: 10px 15px;
  font-family: $basic-font-title;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $goshawk-grey;
  border: 2px solid $placebo;
  box-sizing: border-box;
  outline: none;

  &:hover {
    border: 2px solid $compact-disc-grey;
  }

  &:focus {
    border: 2px solid $goshawk-grey;
  }
}

.form__group--programs {
  padding-bottom: 19px;
  padding-top: 22px;
  border-top: 1px solid $orochimaru;
  border-bottom: 1px solid $orochimaru;

  .form-group__label {
    color: $black-out;
  }
}

.form-group__radio:disabled + .form-group__label,
.form-group__checkbox:disabled + .form-group__label {
  opacity: 0.4;
}

.form__group--owner-info {
  border-top: 2px solid $starbur;

  .form-group__title {
    padding-top: 26px;
    padding-right: 20px;
    padding-bottom: 35px;
    text-transform: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
  }

  .form-group__list {
    color: $goshawk-grey;
    padding-bottom: 24px;
  }

  .form-group__item {
    margin: 14px 0 0 0;

    &:first-of-type {
      margin: 0;
    }
  }
}

.form__group--message {
  border-top: 2px solid $starbur;

  .form-group__title {
    padding-right: 20px;
    font-family: $basic-font-title;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    text-transform: none;
  }

  .form-group__input--textarea {
    margin-top: 38px;
    margin-bottom: 22px;
    min-height: 150px;
    resize: none;
  }
}

.form__group--additional {
  border-top: 2px solid $starbur;

  .form-group__title {
    padding-right: 20px;
    font-family: $basic-font-title;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    text-transform: none;
  }

  .form-group__list {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .form-group__label {
    color: $black;
  }
}

.form__info {
  text-transform: none;
}
