.form__group {
  border: none;
}

.form__group--info {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: calc(100% / 2 - 40px) calc(100% / 2 - 40px);
    justify-content: space-between;
  }
}

.form__group--owner-info {
  border-top: 2px solid $starbur;

  .form-group__item {
    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  .form-group__list {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: calc(100% / 2 - 40px) calc(100% / 2 - 40px);
      justify-content: space-between;
    }
  }

  .form-group__title {
    padding-top: 26px;
    padding-bottom: 34px;
    width: 230px;

    @media (min-width: $tablet-width) {
      width: auto;
      padding-top: 71px;
      padding-bottom: 76px;
    }
  }
}

.form__group--message {
  border-top: 2px solid $starbur;

  .form-group__title {
    padding-top: 23px;
    padding-bottom: 38px;

    @media (min-width: $tablet-width) {
      padding-top: 65px;
      padding-bottom: 76px;
    }
  }
}

.form__group--additional {
  border-top: 2px solid $starbur;

  .form-group__title {
    padding-top: 23px;
    padding-bottom: 24px;

    @media (min-width: $tablet-width) {
      padding-top: 65px;
      padding-bottom: 57px;
    }
  }

  .form-group__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 15px;
    padding-bottom: 15px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
      justify-content: center;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .form-group__item {
    margin: 24px 0 0 0;
    margin-left: 15px;
  }

  .form-group__label {
    color: $black-out;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -5px;
      left: -44px;
      border: 1px solid $compact-disc-grey;
      height: 29px;
      width: 29px;
    }
  }

  .form-group__checkbox:checked + .form-group__label {
    &::before {
      background-image: url("../img/icons/checkbox-tick.svg");
      background-position: 1px 50%;
      background-repeat: no-repeat;
    }
  }

  .form-group__checkbox:hover + .form-group__label {
    &::before {
      border: 1px solid $baby-talk-grey;
    }
  }

  .form-group__checkbox:disabled + .form-group__label {
    opacity: 0.3;

    &::before {
      opacity: 0.3;
    }
  }
}

.form__submit {
  padding: 27px 20px 32px 20px;

  @media (min-width: $tablet-width) {
    padding: 54px 70px 72px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    padding: 61px 110px 82px 110px;
  }
}

.form__info {
  margin: 21px 0 0 0;
  font-family: $basic-font-text;
  text-transform: none;
  text-align: center;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }
}

.form__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
