.header {
  padding-top: 10px;
  display: grid;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 24px;
    grid-template-columns: min-content 1fr;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    z-index: 4;
    padding-top: 53px;
    padding-bottom: 0;
  }
}

.header__logo {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 56px;
  margin-bottom: 17px;
  width: 34px;
  height: 38px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: 30px;
  }
}

.header__text-logo {
  position: absolute;
  margin: 14px 0 0 110px;

  @media (min-width: $tablet-width) {
    display: none;
    margin-left: 110px;
  }
}

.header__image {
  width: 33px;
  height: 37px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.header__text-image {
  width: 101px;
  height: 18px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.navigation__toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  width: 24px;
  height: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__icon {
  position: absolute;
  width: 24px;
  height: 2px;
  display: block;
  background-color: $black;
  top: 10px;
  left: 11px;
  transform: translate(-50%, -50%);
  transition-delay: 0.3s;
  transition-duration: 0.3s;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black;
    display: block;
    top: -8px;
    left: 0;
    transition-property: top;
    transition-delay: 0.3s;
    transition-duration: 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black;
    display: block;
    top: 8px;
    left: 0;
    transition-property: top;
    transition-delay: 0.3s;
    transition-duration: 0.3s;
  }
}

.navigation__icon--active {
  background-color: transparent;

  &::before {
    top: 0;
    transform: rotate(45deg);
    transition-delay: 0.3s;
  }

  &::after {
    top: 0;
    transform: rotate(-45deg);
    transition-delay: 0.3s;
  }
}

// .navigation__toggle {
//   &:hover {
//     .navigation__icon {
//       background-color: transparent;

//       &::before {
//         top: 0;
//         transform: rotate(45deg);
//         transition-delay: 0.3s;
//       }

//       &::after {
//         top: 0;
//         transform: rotate(-45deg);
//         transition-delay: 0.3s;
//       }
//     }
//   }
// }

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid $mercury;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $white;

  // position: absolute;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    border: 0;
    z-index: 0;
    background-color: transparent;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    z-index: 4;
    margin-right: 110px;
  }
}

.navigation__item {
  border-bottom: 1px solid $mercury;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 35px;
    border: none;
  }
}

.navigation__link {
  display: inline-block;
  width: 100%;
  padding: 22px 0 24px 0;
  text-decoration: none;
  color: $black;
  font-family: $basic-font-title;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    z-index: 4;
  }
}

.navigation__link--covered {
  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  @media (min-width: $desktop-width) {
    color: $white;
    z-index: 4;
  }
}

.navigation__item--current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $starbur;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $starbur;
  }
}

.navigation__item--current-covered {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $white;
  }
}
