.promotion__wrapper {
  min-width: 320px;
  min-height: 302px;
  background: url("/source/img/promotion/promo-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promotion__content {
  background: $starbur-085;
  min-width: 320px;
  min-height: 304px;
}

.promotion__title {
  font-family: $basic-font-title;
  font-weight: normal;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  color: $white;
}

.promotion__subtitle {
  font-family: $basic-font-title;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
}

.promotion__image {
  max-width: 280px;
  height: 270px;
}

.promotion__link {
  margin: 0 20px 0 20px;
}
