.slider {
  margin-top: 42px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-top: 64px;
    padding-bottom: 69px;
  }
}

.slider__visual {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 520px;
  }
}

.slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
