.product-card {
  padding: 19px 20px 24px 20px;
  border-top: 1px solid $mercury;
  border-bottom: 1px solid $mercury;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    " pic title "
    " pic info "
    " button button ";

  @media (min-width: $tablet-width) {
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    padding: 0;
    margin: 0;
    background: $bleached-silk;
  }
}

.product-card__title {
  margin: 0;
  padding: 0;
  font-family: $basic-font-title;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $goshawk-grey;
  grid-area: title;
  width: 80px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    margin: 0 auto;
    padding-bottom: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product-card__images {
  grid-area: pic;
  margin: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
    order: -1;
  }
}

.product-card__image {
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: -88px;
  }
}

.product-card__info {
  margin: 14px 0 22px 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  grid-area: info;

  @media (min-width: $tablet-width) {
    margin: 0 37px;
    font-size: 16px;
    line-height: 16px;
  }
}

.product-card__parameter {
  width: 33%;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 7px 0 9px 0;
    border-bottom: 1px solid $compact-disc-grey;
  }
}

.product-card__meaning {
  margin-left: auto;
  width: 66%;
  text-align: right;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 7px 0 9px 0;
    border-bottom: 1px solid $compact-disc-grey;
  }
}

.product-card__button {
  grid-area: button;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin: 30px 37px 40px 39px;
  }
}
