.basic-button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  background: $starbur;
}
