.footer {
  background: #f2f2f2;
}

.footer__logo {
}
.logo {
}
.footer__section {
}
.socials {
}
.visually-hidden {
}
.socials__list {
  padding: 0;
  list-style: none;
}
.socials__item {
}
.socials__link {
}
.social__link {
}
.copyright {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
.copyright__link {
  text-decoration: none;
  color: #444444;
}
.copyright__icon {
}
