// Colors
$white: #ffffff;
$white-030: rgba(255, 255, 255, 0.3);
$black: #000000;
$black-040: rgba(0, 0, 0, 0.4);
$black-020: rgba(0, 0, 0, 0.2);
$black-016: rgba(0, 0, 0, 0.16);
$bleached-silk: #f2f2f2; // basic_grey
$mercury: #ebebeb; // special_grey-2
$abundance-of-tingle: #e6e6e6;
$plaster: #eaeaea; //
$placebo: #e7e7e7; //
$orochimaru: #d9d9d9; //
$baby-talk-grey: #bababa;
$compact-disc-grey: #cdcdcd; // special_grey
$squant: #666666; // special_grey-2
$goshawk-grey: #444444; // special_dark-grey
$goshawk-grey-030: rgba(68, 68, 68, 0.3); // special_dark-grey
$dreamless-sleep: #111111;
$black-out: #222222; // special_dark-grey-2
$strawberry-field: #ff8282; // status_error
$grass: #5eaa2f; // basic_green-2
$starbur: #68b738; // basic_green
$starbur-085: rgba(104, 183, 56, 0.85); // basic_green
$basic-font-title: "Oswald", "Arial", sans-serif;
$basic-font-text: "Arial", "Tahoma", sans-serif;
// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
