.owner-info {
  border-top: 2px solid $starbur;
}

.owner-info__title {
  padding-top: 26px;
  padding-bottom: 34px;
  width: 230px;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-top: 78px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
  }
}

.owner-info__list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-column-gap: 80px;
    justify-content: center;
  }
}

.owner-info__item {
  position: relative;
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
