.footer {
  background: $bleached-silk;
}

.footer__wrapper {
  display: grid;
  width: auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    padding: 41px 30px 61px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 0 47px 0;
    max-width: 1220px;
    margin: 0 auto;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 35px;
  margin-bottom: 31px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    justify-content: flex-start;
  }
}
